* {
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  font-family: "Huninn", sans-serif;
  scrollbar-width: none !important;
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 16px;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="number"],
input[type="text"],
input[type="password"],
input:not([type]) {
  outline: none;
  border: none;
  background-color: rgba(102, 102, 102, 0.75);
  border-radius: 16px;
  padding: 10px;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(102, 102, 102, 0.75);
  opacity: 1;
  transition: 0.25s;
  border-radius: 16px;
}

button:active:not(:disabled),
input[type="submit"]:active:not(:disabled) {
  opacity: 0.75;
  transition: 0.25s;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

table,
tr,
td {
  border: solid 1px white;
  padding: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
